@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(43%2c 65%2c 119%2c 1)'%3e%3c/rect%3e%3cpath d='M1464 560L0 560 L0 345.11Q59.21 332.32%2c 72 391.53Q93.1 340.63%2c 144 361.73Q193.18 290.91%2c 264 340.09Q326.37 330.45%2c 336 392.82Q386.63 323.44%2c 456 374.07Q530.52 328.59%2c 576 403.1Q607.7 314.8%2c 696 346.5Q769.01 299.51%2c 816 372.53Q882.42 318.95%2c 936 385.37Q954.1 331.47%2c 1008 349.56Q1078.62 300.18%2c 1128 370.8Q1147.21 318.01%2c 1200 337.23Q1241.08 306.31%2c 1272 347.38Q1362.96 318.35%2c 1392 409.31Q1411.21 356.52%2c 1464 375.74z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 445.31Q16.9 390.21%2c 72 407.11Q126.24 341.35%2c 192 395.59Q251.21 382.8%2c 264 442.01Q306.9 364.91%2c 384 407.82Q431.73 383.55%2c 456 431.28Q531.94 387.22%2c 576 463.16Q580.92 396.08%2c 648 401Q714.17 347.18%2c 768 413.35Q817.01 390.36%2c 840 439.37Q852.46 379.83%2c 912 392.29Q955.02 363.31%2c 984 406.33Q1029.92 380.25%2c 1056 426.17Q1113.19 411.37%2c 1128 468.56Q1177.23 397.79%2c 1248 447.03Q1286.14 365.17%2c 1368 403.31Q1413.29 376.6%2c 1440 421.89Q1517.24 379.13%2c 1560 456.38z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 517.3Q29.79 475.08%2c 72 504.87Q92.7 453.57%2c 144 474.28Q193.07 403.35%2c 264 452.42Q357.25 425.67%2c 384 518.92Q430.12 445.04%2c 504 491.16Q521.32 436.48%2c 576 453.79Q646.99 404.78%2c 696 475.78Q742.07 449.85%2c 768 495.92Q812.34 420.26%2c 888 464.6Q918.75 423.36%2c 960 454.11Q1031.83 405.94%2c 1080 477.76Q1160.87 438.63%2c 1200 519.49Q1207.6 455.09%2c 1272 462.69Q1315.01 433.69%2c 1344 476.7Q1391.92 404.63%2c 1464 452.55z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 530.68Q55.97 514.64%2c 72 570.61Q94.77 521.38%2c 144 544.16Q191.27 471.43%2c 264 518.7Q355.04 489.74%2c 384 580.78Q434.5 511.28%2c 504 561.78Q512 497.78%2c 576 505.79Q641.5 451.29%2c 696 516.79Q780.21 481%2c 816 565.2Q846.79 524%2c 888 554.79Q931.65 478.44%2c 1008 522.1Q1067.25 509.35%2c 1080 568.6Q1098.6 515.19%2c 1152 533.79Q1206.85 468.64%2c 1272 523.49Q1351.95 483.44%2c 1392 563.39Q1423.4 474.79%2c 1512 506.19z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    // background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}